# Welcome to the Dark Art of Coding:
## Introduction to Python
SQL

<img src='../images/dark_art_logo.600px.png' width='300' style="float:right">

# Objectives
---

In this session, students should expect to:

* Understand what SQL is used for
* Understand the basics of the SQL syntax
* Understand high level principals of relational databases
* Understand how Python and SQL interoperate
   * How to create a database
   * How to add data to a database
   * How to update data
   * How to delete data
   * How to select data from the database

# SQLITE Module
---

ACID:
* **Atomicity**: all or nothing
* **Consistency**: no transaction will break any rules of the database (constraints, cascades, triggers) 
* **Isolation**: concurrent execution will yield the same result as serial execution
* **Durability**: upon commit, transactions will remain despite error

In [ ]:
# First we want to import the SQL module and make a connection to a database

import sqlite3
conn = sqlite3.connect('first.db')

In [ ]:
# Let's see what data type we have:

print('This object is a:', type(conn))

Let's see what we can do with it:
using tab completion

```python
conn.<tab complete>
```

In [ ]:
conn.

In [ ]:
# Our next major step is to create a cursor
#     Cursors are a sort of "pointer" that lets 
#     us perform inquiries (as well as other things)

cur = conn.cursor()

In [ ]:
# As always, let's explore this new object

print('This object is a:', type(cur))

Let's see what we can do with it:
using tab completion

```python
cur.<tab complete>
```

In [ ]:
cur.

In [ ]:
# NOTE: as with many other file types, once we 
#     finish interacting with our database we
#     generally need to finalize our changes, ie. *.commit() them
#     and *.close() our connection to the database.

conn.commit()
conn.close()

# Adding data to a SQL database 
---

In [ ]:
import sqlite3
conn = sqlite3.connect('data.db') 

# NOTE: Your connection does not need to be 
#     named conn. It is just a commonly used name

* From now on we'll be using **two separate** syntaxes
    * **Python syntax** for how we interface with the database and send SQL commands
    * **SQL syntax** to actually insert, modify, and query data
* These are two separate languages
* There is a learning curve for each language
* If you learn SQL commands you can generally speak to any SQL-based database

NOTE: if you prefer to stick to pure Python, there are Python libraries that enable you to replicate these SQL statements with straight Python, but that is a story for another day: SQLAlchemy is one such tool.

## Create a table

In [ ]:
# First let's make a SQL command string to
#     create our first table
#     with specific columns and set the data type
#     that will be stored in the columns:
#     text, integer, etc

sql = '''CREATE TABLE customers (first name text,
                                 last name text,
                                 email text,
                                 age integer)'''

# NOTE: It is not necessary to make the string beforehand
# however it can be helpful and often improves the 
# readability of your code to have the SQL syntax separated
# from the Python syntax

In [ ]:
# Now let's try and run this bit of SQL code

try:
    conn.execute(sql)
except:
    pass

# NOTE: in this case, I am using a syntax
#     called try/except so my script won't
#     crash if the table already exists
#     You may not need to do this...

## Inserting data (manually)

In [ ]:
# This next bit of SQL syntax adds a row of data to 
#     our database
#
# This time we put the SQL syntax directly in the 
#     the Python function. This works, but may or
#     may not impact the readability of your code
# 
# The INSERT command identifies which table to insert
#     the data into AND then the values that should be 
#     inserted. Here we use four question marks as 
#     template placeholders for the actual values
#     which are provided in the adjacent tuple
#     Using the question marks can improve readability
#     and increase security. DO IT.

conn.execute('INSERT INTO customers VALUES (?, ?, ?, ?)',
             ('Bruce', 'Wayne', 'bwayne@jleague.org', 35))

In [ ]:
# This step of adding data to a table can be
#     broken up into two parts to increase readability

# Create the SQL statement to insert data 
#     into the table we made earlier "customers"
insert = 'INSERT INTO customers VALUES (?, ?, ?, ?)'

# Use Python to execute the SQL statement and give it some values to put in place of the question marks
conn.execute(insert, ('Selina', 'Kyle', 'catwoman@jleague.org', 38))

## Inserting data (automagically)

In [ ]:
# Building databases by hand is tedious. 
# Let's look at a way we can build a 
# different database from a csv file

conn = sqlite3.connect('customers.db')

In [ ]:
# Let's create the table in our SQL database now

sql = '''CREATE TABLE customers (cust_id integer,
                                 first_name text,
                                 last_name text,
                                 email text,
                                 age integer)'''

try:
    conn.execute(sql)
except:
    pass

In [ ]:
fin = open('customers.csv', 'r')

fin.readline()   # Read/eliminate header row

# Now we take our remaining csv data and add 
#     it to our SQL database

for line in fin:
    cust_id, fname, lname, email, age = line.strip().split(',')
    
    # Each set of fields can be inserted into the table, 
    #     as we iterate through the for loop
    conn.execute('INSERT INTO customers VALUES (?, ?, ?, ?, ?)',
                 (cust_id, fname, lname, email, age))

# Retrieving data from a SQL database
---

To get data from a database we will use a cursor
* The `.cursor()` method is associated with the connection we make it on
* Let's take a look at the code in the following code cell
    * The `SELECT` statement is straight SQL syntax
    * It is intended to be relatively intuitive:
        * `SELECT all records FROM the customers table`
        * IN SQL, the `*` is a wildcard 
    * When the SQL is executed it returns a collection of all the records that meet any criteria
    * The for loop in Python then lets you iterate over the collection of items

In [ ]:
cur = conn.cursor()   # Create the cursor

# Run the SQL code and use the for loop to
#     iterate through the resulting rows
for row in cur.execute('SELECT * FROM customers'):        
    print(row)

# Experience Points!
---

In your **text editor** create a simple script called:

```bash
my_sql_01.py```

Execute your script in the **IPython interpreter** using the command:

```python
run my_sql_01.py```

I suggest that as you add each feature to your script that you run it right away to test it incrementally. 

1. Create a connection to a database. Call the database: `my_first_sql.db`
1. Create a table called stocks: include only the following columns AND assign the given datatypes:

|||
|:---|:---|
|symbol|text|
|date|date|
|open_price|float|
|close|float|
|volume|integer|

Populate the data:
1. Create a filehandle for the file `AMEX_daily_prices_N.csv`
1. Create a SQL statement that will allow you to insert content from the csv into stocks
1. For every line in the csv, execute your insert SQL statement

Retrieve the data:
1. Create a cursor
1. Create a SQL statement to query the database for all columns from the stocks table
1. For every row of returned results, print that row

When you complete this exercise, please put your green post-it on your monitor. 

If you want to continue on at your own-pace, please feel free to do so.

<img src='../images/green_sticky.300px.png' width='200' style='float:left'>

In [ ]:
# Sometimes we only need data from certain columns:

for row in cur.execute('SELECT email, age FROM customers'):
    print(row)

In [ ]:
# If we know we're taking multiple things from the table we can use some tuple unpacking in our for loop

for email, age in cur.execute('SELECT email, age FROM customers'):
    print('Email:', email, '\tAge:',age)

In [ ]:
# Let's put some more data into our table

ins3 = 'INSERT INTO customers VALUES (?, ?, ?, ?, ?)'
cur.execute(ins3, (5, 'Kara', 'Zor-el', 'kzorel@krypton.org', 33))

In [ ]:
# SQL syntax allows us to filter for certain rows as well as columns using the WHERE keyword
# NOTE: SQL syntax and Python syntax are different. SQL uses a single '=' to check for equality where python uses two
# They are different syntaxes and we need to be careful

# Another way to get all of the things from a SELECT is to use the .fetchall() method
# which will return a Python list of matching items, stored as tuples

cur.execute('SELECT * FROM customers WHERE age = 33')
print(cur.fetchall())

In [ ]:
# We can do other equality tests as well, not just the '='

for row in cur.execute('SELECT email, age FROM customers WHERE age > 34'):
    print(row)

In [ ]:
# We can have our data ordered in alphanumerical order when we get it by using the ORDER BY keyword

for row in cur.execute('''SELECT * FROM customers
                          WHERE age > 34 ORDER BY age'''):
    print(row)

In [ ]:
# Having it in reverse is just as easy by simply putting DESC after the order parameter

for a, e in cur.execute('''SELECT age, email 
                           FROM customers 
                           WHERE age > 34 
                           ORDER BY age DESC'''):
    print(a, e)

In [ ]:
# If we want to update certain records we can do that using the UPDATE command and the SET command
# We can use the LIKE keyword to find things that are similar and use the % sign as a wildcard

cur.execute("""UPDATE customers 
               SET email='bgordon@gotham.com' 
               WHERE email LIKE 'bgordon%'
               """)

print(cur.execute('SELECT * FROM customers WHERE age = 33').fetchall())

In [ ]:
# We can also uniquify our results using the DISTINCT keyword

for row in cur.execute('SELECT DISTINCT age FROM customers'):
    print(row)

In [ ]:
# TODO: descriptions for all of these

for row in cur.execute('''SELECT age, COUNT(age) AS count_col
                          FROM customers GROUP BY age'''):
    print(row)

In [ ]:
for row in cur.execute('''SELECT first_name, SUM(age) AS total
                          FROM customers GROUP BY age'''):
    print(row)

In [ ]:
for row in cur.execute('''SELECT email, COUNT(age) AS count
                          FROM customers
                          GROUP BY age
                          HAVING age > 34'''):
    print(row)

In [ ]:
for row in cur.execute('''SELECT age, COUNT(age) AS count
                          FROM customers
                          GROUP BY age LIMIT 2'''):
    print(row)

In [ ]:
cur.execute("DELETE FROM customers WHERE first_name='Hal'")

for row in cur.execute('SELECT * FROM customers'):
    print(row)

In [ ]:
conn.close()

# Experience Points!
---

In your **text editor** create a simple script called:

```bash
my_sql_02.py```

Execute your script in the **IPython interpreter** using the command:

```python
run my_sql_02.py```

I suggest that as you add each feature to your script that you run it right away to test it incrementally. 

1. Create a connection to a database. Call the database: `my_second_sql.db`
1. Create a table called stocks: include only the following columns AND assign the given datatypes:

|||
|:---|:---|
|symbol|text|
|date|date|
|open_price|float|
|close|float|
|volume|integer|

Populate the data:
1. Create a filehandle for the file `AMEX_daily_prices_N.csv`
1. Create a SQL statement that will allow you to insert content from the csv into stocks
1. For every line in the csv, execute your insert SQL statement

Retrieve the data:
1. Create a cursor
1. Create a SQL statement to query the database for
    * only the symbol, open_price, and close columns
    * from the stocks table 
    * where the closing value is greater than 925
1. For every row of returned results, print that row

When you complete this exercise, please put your green post-it on your monitor. 

If you want to continue on at your own-pace, please feel free to do so.

<img src='../images/green_sticky.300px.png' width='200' style='float:left'>